/* FONTS */
@import url("http://static-www.cdn.oovoo.com/Content/styles/fonts.css");

$gothamReg: "Gotham SSm A", Verdana, sans-serif !default;
$gothamLight: "Gotham SSm B", Verdana, sans-serif !default;
$gothamBold: "Gotham A", Verdana, sans-serif !default;

/* COLORS */
$lightBrown: #aca39a;

body {
  font-family: Georgia,Times,Times New Roman,serif;
  font-weight: lighter;
}

#woodBg {
  background: url("../img/med_wood.jpg") repeat;
  position: fixed;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'blooming_elegantregular', Arial, sans-serif;
  font-weight: lighter;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: $gothamReg;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .09em;
  color: $lightBrown;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: .05em;
}

input {
  border:none;
}

$pad: 50px;
.grid {

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: 0;
  box-sizing: border-box;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-1-1 {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
.col-2-3 {
  width: 66.66%;
}
.col-3-4 {
  width: 75%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  margin: 40px 40px 0;
  background: #ffffff;

  display: table;
  position: absolute;
  height: 100%;
  width: calc(100% - 80px);
  overflow: hidden;
  box-sizing: border-box;

  #headerContent {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    //background: green;

    height: 55%;

    p {
      font-size: 24px;
      text-align: center;
      color: $lightBrown;
    }

    h1 {
      font-size: 285px;
      text-align: center;
      color: $lightBrown;
      display: block;
      margin: -24px 0 -83px;
    }

    #date {
      background: url("../img/dateShape.svg") no-repeat center bottom;
      width: 204px;
      margin: 0 auto;

      p {
        color: #ffffff;
      }
    }
  }
}

#contentWrap {
  position: absolute;
  bottom: 0;
  background: blue;
  height: 0;
  width: 100%;
}

#quoteWrap {
  margin: 0 40px;
  padding: 100px 0;
  background: #c1b9b0;
  p {
    font-size: 23px;
    color: #ffffff;
    letter-spacing: .05em;
    text-align: center;
    padding: 0 60px;
    font-style: italic;
    line-height: 2.1em;
  }
  p:last-of-type {
    margin: 40px 0 0;
  }
}

#barnWrap {
  margin: 0 40px;
  background: #ffffff;
  padding: 100px 0;

  h1 {
    text-align: center;
    color: $lightBrown;
    font-size: 120px;
    padding: 0 0 30px;
  }

  h2 {
    padding: 0 0 16px;
  }

  p {
    color: $lightBrown;
  }
}

#barnImg {
  margin: 0 40px;
  //background: url("../img/barn2.jpg")no-repeat fixed;
  //background-size: cover;
  display: block;
  height: 385px;
  width: calc(100% - 80px);
  min-height: 400px;
  background: transparent;
}

#rsvpWrap {
  margin: 0 40px;
  background: #ffffff;
  padding: 100px 0;

  h1 {
    text-align: center;
    color: $lightBrown;
    font-size: 120px;
    padding: 0 0 30px;
  }

  .col-1-2:first-of-type .formInput {
    margin-right: 20px;
  }
  .col-1-2:last-of-type .formInput {
    margin-left: 20px;
  }

  .formInput {
    border-bottom: 1px solid #d5d1cc;
    margin: 10px 0;
    padding: 0 0 8px;
    box-sizing: border-box;

      input {
        font-size: 18px;
        line-height: 2em;
        letter-spacing: .05em;
        color: #817467;
        padding: 0 0 0 15px;
        box-sizing: border-box;

        //width: 60%;
        //background: lightblue;
      }

      input:focus {
        outline:0;
      }

      label {
        margin: 0;
        padding: 0;
        font-family: $gothamReg;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: .09em;
        color: $lightBrown;
        font-weight: bold;

        //width: 40%;
        //float: left;
        //background: orange;
        //display: block;
      }

      select {
        padding: 0 0 0 15px;
        font-size: 18px;
        line-height: 2em;
        letter-spacing: .05em;
        color: #817467;
        box-sizing: border-box;
        width: 72%;
        border: none;
        border-radius: 0;
        height: 36px;
        text-indent: 1px;
        text-overflow: '';
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent url(../img/dropdownArrow.svg) no-repeat right center;
      }

      select:focus {
        outline:0;
      }
    }

    .submit {
      background: #f7cdc2;
      color: #ffffff;
      font-family: $gothamReg;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .09em;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 5px;
      display: block;
      text-align: center;
      margin: 60px auto 0;
    }
  }

#handsImg {
  margin: 0 40px;
  background: url("../img/hands.jpg")no-repeat;
  background-size: cover;
  height: 385px;
}

#registryWrap {
  margin: 0 40px 40px;
  background: #ffffff;
  padding: 100px 0;

  h1 {
    text-align: center;
    color: $lightBrown;
    font-size: 120px;
    padding: 0 0 30px;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}


/*SCREEN SIZES 1025PX*/
@media only screen and (min-width: 960px) {
  .wrapper {
    width: 960px;
  }
}