/* FONTS */
@import url("http://static-www.cdn.oovoo.com/Content/styles/fonts.css");

$gothamReg: "Gotham SSm A", Verdana, sans-serif !default;
$gothamLight: "Gotham SSm B", Verdana, sans-serif !default;
$gothamBold: "Gotham A", Verdana, sans-serif !default;

/* COLORS */
$lightBrown: #aca39a;

body {
  font-family: Georgia,Times,Times New Roman,serif;
  font-weight: lighter;
  background: url("../img/med_wood.jpg") repeat;
}

#woodBg {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'blooming_elegantregular', Arial, sans-serif;
  font-weight: lighter;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: $gothamReg;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .09em;
  color: $lightBrown;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: .05em;
}

input {
  border:none;
}

$pad: 50px;
.grid {

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: 0;
  box-sizing: border-box;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-1-1 {
  width: 100%;
}
.col-1-2 {
  width: 100%;
}
.col-1-3 {
  width: 100%;
}
.col-1-4 {
  width: 100%;
}
.col-1-8 {
  width: 12.5%;
}
.col-2-3 {
  width: 66.66%;
}
.col-3-4 {
  width: 75%;
}

.wrapper {
  //width: 100%;
  margin: 0 20px;
  width: calc(100% - 40px);
}

header {
  margin: 15px 15px 0;
  width: calc(100% - 30px);
  background: #ffffff;
  display: table;
  position: relative;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;

  #topLeftFlower {
    display: none;
  }

  #topRightFlower {
    display: none;
  }

  #topLeftBottomFlower {
    display: none;
  }

  #topRightBottomFlower {
    display: none;
  }

  #headerContent {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 38%;

    p {
      font-size: 15px;
      text-align: center;
      color: $lightBrown;
    }

    h1 {
      font-size: 80px;
      text-align: center;
      color: $lightBrown;
      display: block;
      margin: 0;
    }

    #date {
      background: url("../img/dateShape.svg") no-repeat center bottom;
      background-size: 100%;
      width: 204px;
      margin: 0 auto;
      height: 42px;

      p {
        color: #ffffff;
      }
    }
  }
}

#contentWrap {
  position: relative;
  bottom: 0;
  background: blue;
  height: 0;
  width: 100%;
}

#quoteWrap {
  margin: 0 15px;
  padding: 50px 0;
  background: #c1b9b0;
  p {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: .05em;
    text-align: center;
    padding: 0;
    font-style: italic;
    line-height: 2.1em;
  }
  p:last-of-type {
    margin: 40px 0 0;
  }
}

#barnWrap {
  margin: 0 15px;
  background: #ffffff;
  padding: 50px 0;

  h1 {
    text-align: center;
    color: $lightBrown;
    font-size: 75px;
    padding: 0 0 30px;
    line-height: 1em;
  }

  h2 {
    padding: 30px 0 5px;
  }

  p {
    color: $lightBrown;
  }
}

#barnImg {
  display: none;
}

#barnImgMobile {
  display: block;
  background: url("../img/barn2.jpg")no-repeat center center;
  background-size: cover;
  height: 400px;
  margin: 0 15px;
  width: calc(100% - 30px);
}

#rsvpWrap {
  margin: 0 15px;
  background: #ffffff;
  padding: 50px 0;

  h1 {
    text-align: center;
    color: $lightBrown;
    font-size: 75px;
    padding: 0 0 30px;
  }

  .col-1-2:first-of-type .formInput {
    margin-right: 0;
  }
  .col-1-2:last-of-type .formInput {
    margin-left: 0;
  }

  .formInput {
    border-bottom: 1px solid #d5d1cc;
    margin: 10px 0;
    padding: 0 0 8px;
    box-sizing: border-box;

      input {
        font-size: 18px;
        line-height: 2em;
        letter-spacing: .05em;
        color: $lightBrown;
        padding: 0;
        box-sizing: border-box;
        background: transparent;
        width: 100%;
      }

      input:focus {
        outline:0;
      }

      label {
        margin: 0;
        padding: 0;
        font-family: $gothamReg;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: .09em;
        color: $lightBrown;
        font-weight: bold;
      }

      select {
        padding: 0;
        font-size: 18px;
        line-height: 2em;
        letter-spacing: .05em;
        color: $lightBrown;
        box-sizing: border-box;
        width: 100%;
        border: none;
        border-radius: 0;
        height: 36px;
        text-indent: 1px;
        text-overflow: '';
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent url(../img/dropdownArrow.svg) no-repeat right center;
      }

      select:focus {
        outline:0;
      }
    }

    .submitBtn {
      background: #f7cdc2;
      color: #ffffff;
      font-family: $gothamReg;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .09em;
      font-weight: bold;
      padding: 10px 40px;
      border-radius: 5px;
      display: block;
      text-align: center;
      margin: 60px auto 0;

      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
    }
    .submitBtn:hover {
      background: #a0bda7;
    }
  }

#contactform {
  position: relative;
}
.loader {
  bottom: -72px;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}
.error_message {
  font-family: $gothamReg;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .05em;
  font-weight: bold;
  color: #f7cdc2;
}

#success_page {
  h1 {
    font-family: $gothamReg;
    text-transform: uppercase;
    font-size: 14px !important;
    letter-spacing: .05em;
    font-weight: bold;
    color: $lightBrown;
    padding: 0 0 16px;
  }
  p {
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 2em;
    color: $lightBrown;
    text-align: center;
  }
}

#handsImg {
  display: none;
}
#handsImgMobile {
  display: block;
  background: url("../img/hands.jpg") no-repeat center center;
  background-size: cover;
  height: 400px;
  margin: 0 15px;
  width: calc(100% - 30px);
}

#registryWrap {
  margin: 0 15px 15px;
  //background: #ffffff;
  background: transparent;
  padding: 50px 0;

  h1 {
    text-align: center;
    color: $lightBrown;
    padding: 0 0 30px;
    font-size: 75px;
  }

  img {
    display: block;
    margin: 20px auto;
  }

  #bottomCenterFlower {
    display: none;
  }
}

/*SCREEN SIZES 960PX*/
@media only screen and (min-width: 768px) {
  header {
    #headerContent {
      height: 48%;
      h1 {
        font-size: 220px;
      }
    }
  }
}


/*SCREEN SIZES 960PX*/
@media only screen and (min-width: 960px) {
  body {
    background: none;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-4 {
    width: 25%;
  }
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
  }
  #woodBg {
    display: block;
    background: url("../img/med_wood.jpg") repeat;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  header {
    position: absolute;
    height: 100%;
    margin: 40px 40px 0;
    width: calc(100% - 80px);

    #headerContent {
      height: 55%;
      h1 {
        font-size: 285px;
        margin: -24px 0 -83px;
      }
      p {
        font-size: 24px;
      }
      #date {
        height: auto;
      }
    }

    #topLeftFlower {
      display: block;
      position: absolute;
      left: 0;
    }
    #topRightFlower {
      display: block;
      position: absolute;
      right: 0;

    }

    #topLeftBottomFlower {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;

    }

    #topRightBottomFlower {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;

    }
  }
  #contentWrap {
    position: absolute;
  }
  #quoteWrap {
    padding: 100px 0;
    margin: 0 40px;
    p {
      font-size: 23px;
      padding: 0 60px;
    }
  }
  #barnWrap {
    padding: 100px 0 150px;
    margin: 0 40px;
    h1 {
      font-size: 120px;
    }
    h2 {
      padding: 0 0 16px;
    }
  }
  #barnImg {
    display: block;
    height: 400px;
    min-height: 400px;
    background: transparent;
    margin: 0 40px;
    width: calc(100% - 80px);
  }
  #barnImgMobile {
    display: none;
  }
  #rsvpWrap {
    padding: 100px 0;
    margin: 0 40px;
    h1 {
      font-size: 120px;
    }
    .col-1-2:first-of-type .formInput {
      margin-right: 20px;
    }
    .col-1-2:last-of-type .formInput {
      margin-left: 20px;
    }
    .formInput {
      input {
        padding: 0 0 0 15px;
        width: auto;
      }
      input#name{
        width: 80%;
      }
      select {
        padding: 0 0 0 15px;
        width: 72%;
      }
    }
  }
  #handsImg {
    //margin: 0 15px;
    //width: calc(100% - 30px);
    display: block;
    height: 385px;
    min-height: 400px;
    background: transparent;
    margin: 0 40px;
    width: calc(100% - 80px);
  }
  #handsImgMobile {
    display: none;
  }
  #registryWrap {
    margin: 0 40px;
    padding: 100px 0 0;
    h1 {
      font-size: 120px;
      color: #ffffff;
    }

    img {
      margin: 0 auto;
    }

    #bottomCenterFlower {
      display: block;
      margin: 100px 0 0;
    }

  }
}